{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "targets": { "node": true },
        "useBuiltIns": "usage",
        "corejs": { "version": "core-js@3", "shippedProposals": true }
      }
    ]
  ]
}
